<form name="topics">
  <select (change)="selectValue()" id="category">
    <option disabled>- Select Category -</option>
    <ng-container *ngIf="parentCategories">
      <ng-container *ngFor="let parent of parentCategories.values">
        <optgroup label="{{ parent.category | titlecase }}">
          <ng-container *ngIf="categories">
            <ng-container *ngFor="let cat of categories.values">
              <ng-container *ngIf="cat.parent == parent.category">
                <option value="{{ cat.id }}">
                  {{ cat.category | titlecase }}
                </option>
              </ng-container>
            </ng-container>        
          </ng-container>        
        </optgroup>
      </ng-container>
    </ng-container>
  </select>
</form>
<div *ngIf="selectedCategory" id="selectedCategory">
  <div>
    <h2>Category Name:</h2><span class="details">{{ selectedCategory.values[0].category  | titlecase  }} (ID#: {{ selectedCategory.values[0].id }})</span>
  </div>
  <div>
    <h3>Parent Category:</h3> <span class="details">{{ selectedCategory.values[0].parent | titlecase }}</span>
  </div>
  <div>
    <h3>Created Date:</h3> <span class="details">{{ selectedCategory.values[0].date_created | date : fullDate}}</span>
  </div>
</div>
<div *ngIf="error"></div>