<!-- <div *ngIf="error" class="error_msg">
  Error: {{ error.status }} {{ error.name }} {{ error.statusText }}
  <span>
    {{ error.error.response }} - {{ error.error.message }}
  </span>
</div> -->
<p *ngIf="error">{{ error }}</p>

<ul class="results">
  <input #search type="text" name="name" ng-model="post.PostId" />
  <button (click)="get_filtered(search.value)">search</button>
  <h2 *ngIf="notes"># of notes: {{notes.length}}</h2>
  <li *ngFor="let n of notes">
    <a routerLink="/notes/{{ n.title }}">{{ n.title }}</a>
    <!-- <app-note [note]="n"></app-note> -->
  </li>
</ul>
