<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your own Wiki Notes</title>
  </head>
  <body>
      <nav>
          <a style="text-decoration: none;" routerLink="">Notes |</a>
          <a style="text-decoration: none;" routerLink="/about"> Categories</a>
      </nav>
      <router-outlet></router-outlet>
      <!-- <app-category></app-category> -->
      <!-- <app-noteslist></app-noteslist> -->
  </body>
</html>
